/* Fonts import */


:root {
    /* colors to use
    #e73118 - red
    #00478a - blue
    #67bed9 - light blue
    #cc5f11 - orange
    #f2aa25 - light orange
    #fff5e3 - light cream
    #090808 - black
    */
    --primary-font: ;
    --secondary-font: ;
    --primary-color: ;
    --secondary-color: ;
    --primary-highlight-color: ;
    --secondary-highlight-color: ;

}
body {
    background-color: #fff5e3;
}

#navbar .logo {
    height: 55px;
    width: 90px;
    border-radius: 50%;
}

/* Temp navbar styling, remove later */
#navbar, #footer {
    background-color:#53adc8;

}

#header {
    background-image: url(../images/Sandwich-to-eat-in.jpg);
    background-size: cover;
    background-position: center;

}

.about {
    background-image: url(../images/FFF-product-wall.jpg);
    background-size: cover;
}
